.codex {
    font-family: 'codexregular';
    /* font-size: 38px; */
    color: white;
}


h3 {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: "6rem";
  line-height: 1.167;
  letter-spacing: "-0.01562em";
}

h2 {
    font-family: 'Arial';
  font-weight: 400;
  font-size: "6rem";
  line-height: 1.167;
  letter-spacing: "-0.01562em";
}

/* h3 {
    font-size: 28px;
} */

